.grid {
  display: grid;
  gap: 0px;
}

.main {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.main .grid {
  grid-template: repeat(10, 64px) / repeat(10, 64px);
}

.ship {
  background-color: lightblue;
  border: 3px solid blue;
}

.empty {
  background-color: white;
  border: 1px solid black;
}

.hit {
  background-color: pink;
  border: 3px solid red;
}

.miss {
  background-color: grey;
  border: 3px solid black;
}
